p{
    color: #E5E5E5;
    font-size: large;
}
.tituloindex{
    color: #ffa500;
    text-align: center;
}
.titulopagina3,.titulopagina2{
    color: #dfd000;
}
.subtitulo{
    color: #dfd000;
}
.sub1Pag3,.sub1Pag2{
    color: #ffffff;
}
.sub2Pag3,.sub2Pag2{
    color: #ffffff;
}
.sub3Pag3,.sub3Pag2{
    color: #ffffff;
}
.sub4Pag3,.sub4Pag2,.sub5Pag2{
    color: #ffffff;
}
.introindex{
    background-color: #775B2B;
    color: #E5E5E5;
    text-align: center;
}
.subindex{
    color: #bf7c00;
}
.titulofps{
    color: #63f714;
    text-align: center;
}
.subtitulofps{
    color: #63f714;
}
.explifps{
    background-color:#4f8432;
    color: white; 
    text-align: center;
}
.sub3fps{
   color: #43c100;
}
.colorboton-a{
    background-color: #5e2696;
    color: #ffa500;
}
.colorboton-b{
    background-color: #5e2696;
    color: #58d8da;
}   
