.tituloprinci{
    color: #12c1c7;
    text-align: center;
}

.titulo1{
    color: #12c1c7;
    text-align: left;

}

p{
    color: #E5E5E5;
    font-size: large;
    text-align: justify;
}

.explicac{
    color: white;
    text-align: center;
    background-color: #12c1c7;
}
.colorboton-a{
    background-color: #5e2696;
    color: #ffa500;
}
.colorboton-b{
    background-color: #5e2696;
    color: #58d8da;
}   