p{
    color: #E5E5E5;
    font-size: large;
}
.tituloindex{
    color: #ffa500;
}
.titulopagina3,.titulopagina2{
    color: #dfd000;
}
.subtitulo{
    color: #dfd000;
}
.sub1Pag3,.sub1Pag2{
    color: #ffffff;
}
.sub2Pag3,.sub2Pag2{
    color: #ffffff;
}
.sub3Pag3,.sub3Pag2{
    color: #ffffff;
}
.sub4Pag3,.sub4Pag2,.sub5Pag2{
    color: #ffffff;
}
