header{
    padding: 2px;
    background-color: #2d0060;
    font-size:25px;
}
nav{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
section{
    text-align: center;
}
article{
    background-color: #30015c;
    padding: 30px;
}
aside{
    position: fixed;
    width: 280px;
    background-color: #5a0078;
    padding: 10px;
    margin-left: 2%;
    bottom: 12%;
    border-radius: 20px;
}
footer{
    background-color: #400154;
    padding: 50px;
}