*{
    font-family:cursive, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.centrarvideo{
    text-align: center;
}
.centrarimagen{
    text-align: center;
}
.derechavideo{
    float: right;
}
.izquierdaimg{
    float: left;
}
.boton{
    margin: 0px 1%;
    padding: 1px 10px;
    text-decoration: none;
    border-radius: 10px;
}
.textboton-a{
    vertical-align:-10px;
}
.textboton-b{
    vertical-align:-6px;
}
.textboton-c{
    vertical-align:-11px;
}
.textboton-d{
    vertical-align:-11px;
}